<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Display - Flask Example</title>
</head>
<body>
    <h1>Here is the info returned from the server:</h1>

    <!-- Get the `username` variable that was passed into this template -->
    <p>Your username is <b>{{ username }}</b></p>

    <!-- Get the `email` variable that was passed into this template -->
    <p>Your email is <b>{{ email }}</b></p>
    
</body>
</html>