<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
</head>
<body>
    <h1>Flask + Form Example</h1>
    <form method="POST" action="/form">
        <div>
            <label for="username">Username:</label><br>
            <!-- We use the "name" attribute to decide what this 
                data is called so we can access it on the server -->
            
            <!-- On the server: request.form["username"] -->
            <input type="text" name="username" id="username">
        </div>

        <div>
            <label for="email">Email:</label><br>
            <!-- On the server: request.form["email"] -->
            <input type="email" name="email" id="email">
        </div>

        <button>Submit Info</button>
    </form>
</body>
</html>